swagger: "2.0"
info:
  description: "OMDb API requires an API key. Get a free key here: [http://omdbapi.com/apikey.aspx](http://omdbapi.com/apikey.aspx)"
  version: "1.0"
  title: "OMDb API"
  termsOfService: "http://omdbapi.com/legal.htm"
  contact:
    email: "bfritz@fadingsignal.com"
  license:
    name: "CC BY-NC 4.0"
    url: "https://creativecommons.org/licenses/by-nc/4.0/"
host: omdbapi.com
basePath: /
schemes:
  - http
  - https
securityDefinitions:
  APIKeyQueryParam:
    type: apiKey
    name: apikey
    in: query
security:
  - APIKeyQueryParam: []
tags:
  - name: "Title Parameter"
    description: "Search by title (?t=title)"
  - name: "ID Parameter"
    description: "Search by IMDb ID (?i=tt0000001)"
  - name: "Search Parameter"
    description: "Search by keyword (?s=title)"

paths:
  "/?t":
    get:
      tags: ["Title Parameter"]
      summary: "Returns the most popular match for a given title"
      operationId: getTitle
      parameters:
        - name: t
          in: query
          description: "Title of movie or series"
          required: true
          type: string
        - name: y
          in: query
          description: "Year of release"
          required: false
          type: integer
        - name: type
          in: query
          description: "Return movie or series"
          required: false
          type: string
          enum: [movie, series]
        - name: plot
          in: query
          description: "Return short or full plot"
          required: false
          type: string
          enum: [short, full]
        - name: r
          in: query
          description: "Response format"
          required: false
          type: string
          enum: [json, xml]
      responses:
        "200":
          description: "Successful response"
          schema:
            $ref: "#/definitions/Movie"
        "401":
          description: "Not authenticated"

  "/?i":
    get:
      tags: ["ID Parameter"]
      summary: "Returns a single result by IMDb ID"
      operationId: getId
      parameters:
        - name: i
          in: query
          description: "A valid IMDb ID (e.g. tt0000001)"
          required: true
          type: string
        - name: plot
          in: query
          description: "Return short or full plot"
          required: false
          type: string
          enum: [short, full]
        - name: r
          in: query
          description: "Response format"
          required: false
          type: string
          enum: [json, xml]
      responses:
        "200":
          description: "Successful response"
          schema:
            $ref: "#/definitions/Movie"
        "401":
          description: "Not authenticated"

  "/?s":
    get:
      tags: ["Search Parameter"]
      summary: "Returns an array of results for a keyword"
      operationId: titleSearch
      parameters:
        - name: s
          in: query
          description: "Title of movie or series"
          required: true
          type: string
        - name: y
          in: query
          description: "Year of release"
          required: false
          type: integer
        - name: type
          in: query
          description: "Return movie or series"
          required: false
          type: string
          enum: [movie, series]
        - name: page
          in: query
          description: "Page number"
          required: false
          type: integer
        - name: r
          in: query
          description: "Response format"
          required: false
          type: string
          enum: [json, xml]
      responses:
        "200":
          description: "Successful response"
          schema:
            $ref: "#/definitions/SearchResponse"
        "401":
          description: "Not authenticated"

definitions:
  Movie:
    type: object
    properties:
      Title: { type: string }
      Year: { type: string }
      Rated: { type: string }
      Released: { type: string }
      Runtime: { type: string }
      Genre: { type: string }
      Director: { type: string }
      Writer: { type: string }
      Actors: { type: string }
      Plot: { type: string }
      Language: { type: string }
      Country: { type: string }
      Awards: { type: string }
      Poster: { type: string }
      Ratings:
        type: array
        items:
          type: object
          properties:
            Source: { type: string }
            Value: { type: string }
      Metascore: { type: string }
      imdbRating: { type: string }
      imdbVotes: { type: string }
      imdbID: { type: string }
      Type: { type: string }
      DVD: { type: string }
      BoxOffice: { type: string }
      Production: { type: string }
      Website: { type: string }
      Response: { type: string }

  SearchResponse:
    type: object
    properties:
      Search:
        type: array
        items:
          type: object
          properties:
            Title: { type: string }
            Year: { type: string }
            imdbID: { type: string }
            Type: { type: string }
            Poster: { type: string }
      totalResults: { type: string }
      Response: { type: string }
